# Config
# 系統名稱
SYSTEM_NAME=line_bot
# 時區
TZ=Asia/Taipei
# 環境
STAGE=local
# 產品名稱
APP_NAME="${SYSTEM_NAME}_accounting"
# 產品版本
APP_VERSION=0.1.0
# 產品映像檔
APP_IMAGE="YOUR-REPOSITORY/${APP_NAME}:${APP_VERSION}"
# 產品網路
APP_NETWORK=proxy
# 產品端口
APP_EXPOSE_PORT=5555

# 靜態檔案與實體路徑
STATIC_ROOT="${SYSTEM_NAME}/statics"
# 資料庫路徑
DB_PATH="${STATIC_ROOT}/db"
# Secrets 路徑
SECRET_PATH="${STATIC_ROOT}/secrets"

# 專案路徑
PROJECT_ROOT="${SYSTEM_NAME}/modules"
PROJECT_PATH="${PROJECT_ROOT}/${APP_NAME}/src"
PROJECT_SECRET_PATH="${PROJECT_PATH}/secrets"
PROJECT_SECRET_PATH="${PROJECT_PATH}/scripts"

# 容器路徑
APP_ROOT=app
APP_SECRET_PATH="${APP_ROOT}/secrets"

# Google Sheet 設定
GOOGLE_CLIENT_SECRET_FILE_PATH="${SECRET_PATH}/credential.json"
GOOGLE_SHEET_URL="{{REPLACE}}"

# Line Bot 設定
LINEBOT_SECRET="{{REPLACE}}"
LINEBOT_ACCESS_TOKEN="{{REPLACE}}"

# 資料庫設定
DB_NAME=line_bot

# POSTGRES
POSTGRES_IMAGE=postgres:15-alpine
POSTGRES_HOST=${APP_NAME}_postgres
POSTGRES_CONTAINER_NAME=${APP_NAME}_postgres
# ------------------- app only start ------------------- #
# FILLED DURING DEPOLY – DO NOT TOUCH
# POSTGRES_HOST=172.20.x.x
# -------------------- app only end -------------------- #
POSTGRES_EXPOSE_PORT=5432
POSTGRES_PORT=5432
# ------------------- app only start ------------------- #
# FILLED DURING INSTALL – DO NOT TOUCH
# POSTGRES_PORT=5432
# -------------------- app only end -------------------- #
POSTGRES_ADMIN=postgres
POSTGRES_ADMIN_PASS='{{ REPLACE }}'
POSTGRES_USER=line_bot
POSTGRES_USER_PASS='{{ REPLACE }}'
