# Config
# 系統名稱
SYSTEM_NAME=line_bot
# 時區
TZ=Asia/Taipei
# 環境
STAGE=local
# 產品名稱
APP_NAME="${SYSTEM_NAME}-ACCOUNTING"
# 產品版本
APP_VERSION=0.1.0
# 產品映像檔
APP_IMAGE="YOUR-REPOSITORY/${APP_NAME}:${APP_VERSION}"
# 產品網路
APP_NETWORK=proxy
# 產品端口
APP_EXPOSE_PORT=5555

# 靜態檔案與實體路徑
STATIC_ROOT="${SYSTEM_NAME}/static"
# 資料庫路徑
DB_PATH="${STATIC_ROOT}/db"
# Secrets 路徑
SECRET_PATH="${STATIC_ROOT}/secrets"

# 專案路徑
PROJECT_ROOT="${SYSTEM_NAME}/module"
PROJECT_PATH="${PROJECT_ROOT}/{APP_NAME}"
PROJECT_SECRET_PATH="${PROJECT_PATH}secrets"

# 容器路徑
APP_ROOT=src
APP_SECRET_PATH=src/secrets