# Config 
# 系統名稱
SYSTEM_NAME=linebot
# 時區
TZ=Asia/Taipei
# 環境
STAGE=local
# 產品名稱
APP_NAME="${SYSTEM_NAME}-DAFU"
# 產品版本
APP_VERSION=0.1.0
# 產品映像檔
APP_IMAGE="YOUR-REPOSITORY/${APP_NAME}:dev"
# 產品網路
APP_NETWORK=proxy
# 產品端口
APP_EXPOSE_PORT=4003

# ---Service--- #
# Service
SECRET_KEY=

# 靜態檔案與實體路徑
STATIC_ROOT="${HOME}/static/${SYSTEM_NAME}/${APP_NAME}"
# 資料庫路徑
DB_PATH="${STATIC_ROOT}/db"
# 設定檔路徑
CONF_PATH="/.conf"

# LineBotAPI
LINEBOT_SECRET=
LINEBOT_ACCESS_TOKEN=
