# System
.DS_Store

# Python
.vscode
.idea
.pytest_cache/
.python-version
.mypy_cache
__pycache__/
venv/
.venv/
pyvenv.cfg

# Env
.env*
!.env.example

# App Chore
db/
**/info
**/logs
migrations/
**/tmp.*
**/tmp
**/*.tmp

# file 
/client_secret*
